body {
  width: 90%;
  margin: auto;
  background-image: url('../assets/paws.jpg');
  /*background-color: #bad474;*/
}

h1 {
  padding: 25px 0;
  margin: auto;
  text-align: center;
  font-size: 60px;
  font-weight: lighter;
  font-color: #0c393b;
}

nav {
  padding: 10px 0;
  text-align: center;
  background-color: #0c393b;
}

a {
  padding: 10px 7%;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

input {
  display: block;
  margin: 20px auto;
  border-radius: 3px;
  padding: 5px;
  font-size: 18px;
  width: 60%;
}

img {
  margin: auto;
  /*float: left;*/
  vertical-align: center;
}

.headshot {
  max-width: 300px;
  background-clip: square;
  overflow: hidden;
  border-radius: 5px;
  display: inline-block;
}

.container {
  width: 60%;
  margin: 20px auto;
}

.info {
  color: #1A1303;
  font-weight: 700;
  display: inline-block;
  float: right;
}