body {
  width: 960px;
  padding: 20px;
  margin: auto;
}

h1 {
  padding: 40px 0 20px 0;
  margin: auto;
  text-align: center
}

nav {
  padding: 20px 0;
  text-align: center
}

a {
  padding: 20px;
}

input {
  display: block;
  width: 50%;
  margin: 20px auto;
  border-radius: 5px;
  padding: 5px;
}

