<form name="searchCatForm" ng-submit="newFindCatsByZipCode()">
  <input type="text" placeholder="Type your zip code, then hit 'Enter!'" ng-model="zipCode"></input>
</form>
<div infinite-scroll="findCatsByZipCode()" infinite-scroll-distance="1" infinite-scroll-disabled="busyLoadingData" infinite-scroll-immediate-check="false">
  <div ng-repeat="cat in cats">
    <div class="round-img">
      <img src={{cat.photo}}>
    </div>
    <div>{{cat.name}}</div>
    <button ng-click="addCatToSaved(cat)">Add Me!</button>
    <div>{{cat.age}}</div>
    <div>{{cat.description}}</div>
    <hr>
  </div>
</div>